.header{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
}
.header h1{
    font-size: 3rem;
    text-align: left;
    font-family: "KoHo";
}
.header p1{
    font-size: 1.2rem;
    text-align: left;
    font-family: "KoHo";
}