/*Imports KoHo font-family from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.shadow {
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.basic_text {
  @apply text-white font-koho font-black;
}

.basic_text_black {
  @apply text-black font-koho font-black;
}

.basic_text_italic {
  @apply text-white font-koho font-black italic;
}

.basic_text_black_italic {
  @apply text-black font-koho font-black italic;
}

/*EXAMPLE TAILWIND UTILITY CLASSES*/
/* .app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
} */

/* Header Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Prediction Component */

/* Favorite Component */
.stocks {
  z-index: 2;
  position: absolute;
}

.temp {
  position: relative;
}

.curved-trendline-path {
  stroke-width: 1; /* Line thickness */
  fill: transparent;
}

.stock_color_red {
  stroke: #fb1818;
}

.stock_color_green {
  stroke: #0db432; /* Line color */
}

svg {
  width: 100%;
  height: auto;
}

/*Favorite Stock Component Mobile*/
@media (max-width: 1100px) {
  .change_row {
    flex-wrap: wrap;
  }
}

/*News Component*/
.title_container {
  overflow: hidden;
}

.horizontal_scroll {
  white-space: nowrap; /* Prevent text from wrapping */ /* Enable horizontal scrolling */
  max-width: 100%; /* Set a maximum width for the title */
  animation: scrollLeft 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(20%); /* Start off-screen from the right */
  }
  100% {
    transform: translateX(-200%);
  }
}

/* Sign Up Component */

/* .form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
} */
