/*Imports KoHo font-family from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.shadow {
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.basic_text {
  @apply text-white font-koho font-black;
}

.basic_text_black {
  @apply text-black font-koho font-black;
}

.basic_text_italic {
  @apply text-white font-koho font-black italic;
}

.basic_text_black_italic {
  @apply text-black font-koho font-black italic;
}

/* Header Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/*Mobile Dashboard Layout */
.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr); /* Single column by default */
  gap: 10px;
}

.predictions-content,
.extra-content,
.news-content,
.favorites-content,
.signup-content {
  grid-column: span 1;
}

/*Dashboard Layout*/
@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 10px;
    height: 150vh;
  }

  .predictions-content {
    grid-column: span 3;
    grid-row: 1 / span 2;
    background-color: lightblue;
  }

  .extra-content {
    grid-column: span 3;
    grid-row: 3 / span 2;
  }

  .news-content {
    grid-column: 4;
    grid-row: span 4;
    background-color: lightyellow;
  }

  .favorites-content {
    grid-column: 5;
    grid-row: span 3;
    background-color: lightcoral;
  }

  .signup-content {
    grid-column: 5;
    grid-row: 4;
    background-color: lightskyblue;
  }
}

/*Styling for news page*/
.news_max {
  max-height: 150vh;
  overflow: hidden;
}

/*Favorite Container*/
.favorites_hidden {
  max-height: 90%;
  overflow: hidden;
}

.favorite-stock-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

/*News component styling*/
.max-news {
  max-height: 150vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.max-news::-webkit-scrollbar {
  display: none;
}

.description_truncate {
  max-height: 10vh;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Stock Layout*/
.stock_layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: minmax(1fr, 1fr) repeat(2, minmax(2fr, 2fr));
  gap: 10px;
}

.stock_basic_info {
  grid-column: span 2;
}

/* Adjust font size for large screens */
@media (min-width: 480px) {
  .text-size {
    font-size: 10vh;
  }
  .text-size2 {
    font-size: 7vh;
  }
}

/* Favorite Component */
.stocks {
  z-index: 2;
  position: absolute;
}

.temp {
  position: relative;
}

.curved-trendline-path {
  stroke-width: 1; /* Line thickness */
  fill: transparent;
}

.stock_color_red {
  stroke: #fb1818;
}

.stock_color_green {
  stroke: #0db432; /* Line color */
}

svg {
  width: 100%;
  height: auto;
}

/*Favorite Stock Component Mobile*/
@media (max-width: 1100px) {
  .change_row {
    flex-wrap: wrap;
  }
}

/*News Component*/
.title_container {
  overflow: hidden;
}

.horizontal_scroll {
  white-space: nowrap; /* Prevent text from wrapping */ /* Enable horizontal scrolling */
  max-width: 100%; /* Set a maximum width for the title */
  animation: scrollLeft 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(20%); /* Start off-screen from the right */
  }
  100% {
    transform: translateX(-200%);
  }
}
