.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height:40px;
    background: white;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}
.forgot-password{
    display: flex;
    align-items: center;
    margin: auto;
    padding: auto;
    margin-top: 10px;
    color: white;
    font-size: 1.1rem;
}
.forgot-password span{
    display: flex;
    align-items: center;
    color:white;
    cursor: pointer;
}
.submit-container{
    display:flex;
    gap:30px;
    margin: 30px auto;
}
.submit_gray{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #587F5C;
    background-color: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 650;
    cursor: pointer;
}