.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius:  10%;
    margin-top: 200px;
    background-color: #587F5C;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    @apply font-koho;
    color: white;
    font-size: 48px;
    font-weight: 650;
    margin: auto;
}
.pizzazz{
    width: 61px;
    height: 6px;
    background: white;
    border-radius: 8px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height:40px;
    background: white;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}
.forgot-password{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 62px;
    margin-top: 27px;
    color: white;
    font-size: 18px;
}
.forgot-password span{
    color:white;
    cursor: pointer;
}
.submit-container{
    display:flex;
    gap:30px;
    margin: 60px auto;
}
.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #587F5C;
    background-color: white;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 650;
    cursor: pointer;
}
.submit_gray{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: white;
    background-color: #9db39f;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 650;
    cursor: pointer;
}